%btn {
    cursor: pointer;
    padding: 7px 45px;
    border: 2px solid color(offwhite);
    border-radius: 7px;
    @include font-size(18);
}

.pomodoro__btn {
    @extend %btn;
    color: color(offwhite);
}

.pomodoro__link {
    color: color(offwhite);
    @include font-size(12);
    cursor: pointer;
    padding: 7px 45px;
    text-decoration: underline;
}
