.settings {

    &__panel {
        background: color(offwhite);
        position: fixed;
        bottom: 20px;
        right: 20px;
        height: 120px;
        width: 250px;
        @include transform(scale(0));
        @include transition(transform, 0.2s, ease-in-out);
        transform-origin: 100% 100%;
        border-radius: 5px;
        padding: 20px;
    }

    &__trigger {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

}

.is-open {

    .settings__panel {
        @include transform(scale(1));
        @include transition(transform, 0.4s, ease-in-out);
        transform-origin: 100% 100%;
    }

    .settings__trigger {
        visibility: hidden;
    }

}
