$rem-baseline: 16;

@mixin font-size($sizeValue: 1.6) {
    font-size: $sizeValue + px;
    font-size: $sizeValue / $rem-baseline + rem;
}

@mixin transform($transforms) {
       -moz-transform: $transforms;
         -o-transform: $transforms;
        -ms-transform: $transforms;
    -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

%clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
