<div class="vertical__align">
    <div class="pomodoro__container">
        <h1>{{mainCtrl.time}}</h1>


        <div class="pomodoro__btns">

            <a class="pomodoro__btn" ng-click="mainCtrl.toggleTimer()" ng-show="mainCtrl.isPaused()">{{ mainCtrl.btnText }}</a>

            <span class="pomodoro__hint">spacebar to toggle timer</span>

      </div>

    </div>
</div>

<div class="pomodoro__settings" ng-class="{
    'is-open' : mainCtrl.states.settings
}">

    <img src="/images/settings.svg" class="settings__trigger" ng-click="mainCtrl.toggleSettings()">

    <div class="settings__panel" ng-click="mainCtrl.toggleSettings()">
        <h3>Settings</h3>

        <div class="settings__option">
            desktop notifications
        </div>


    </div>
</div>
<!-- /.pomodoro__settings -->
