<div class="vertical__align">
    <div class="pomodoro__container" spacebar-listener listener="mainCtrl.toggleTimer()">
        <h1>{{mainCtrl.time}}</h1>

        <div class="pomodoro__btns">

            <a class="pomodoro__btn" ng-click="mainCtrl.toggleTimer()" ng-show="mainCtrl.isPaused()">{{ mainCtrl.timerState }}</a>

            <a class="pomodoro__btn" ng-click="mainCtrl.restart()" ng-show="mainCtrl.isPaused()">restart</a>

            <span class="pomodoro__hint">spacebar to {{ mainCtrl.timerState }} timer</span>
      </div>

    </div>
</div>

<div class="pomodoro__count">
    <p>{{mainCtrl.models.count}} <ng-pluralize count="mainCtrl.models.count"when="{'0': 'pomodoros', 'one': 'pomodoro', 'other': 'pomodoros'}">
  </ng-pluralize> complete</p>
</div>

<div class="pomodoro__settings" ng-class="{
    'is-open' : mainCtrl.states.settings
}">

    <img src="/images/settings.svg" class="settings__trigger" ng-click="mainCtrl.toggleSettings()">

    <div class="settings__panel">

        <div class="settings__close">
            <span ng-click="mainCtrl.toggleSettings()">&times;</span>
        </div>

        <div class="settings__option">

            <toggle notification="mainCtrl.models.desktopNotification" change="mainCtrl.allowDesktopNotifications()" label="Desktop Notifications"></toggle>

            <toggle notification="mainCtrl.models.audioNotifications" change="mainCtrl.toggleAudioNotifications()" label="Audio Notifications" klass="toggle__container--last"></toggle>

            <pomodoro-range min="10" max="40" step="5" time="mainCtrl.models.activeTime" label="Active" update="mainCtrl.updateTime(timer, time)" timer="active"></pomodoro-range>

            <pomodoro-range min="1" max="5" step="1" time="mainCtrl.models.shortBreak" label="Short break" update="mainCtrl.updateTime(timer, time)" timer="shortBreak"></pomodoro-range>

            <pomodoro-range min="5" max="20" step="5" time="mainCtrl.models.longBreak" label="Long break" update="mainCtrl.updateTime(timer, time)" timer="longBreak"></pomodoro-range>


        </div>

    </div>
</div>
<!-- /.pomodoro__settings -->
