/**
 * loop over each color and set as background
 *
 */
@each $name, $bg in $backgrounds {
    .#{$name} {
        background: $bg;
    }
}

.pomodoro {

    &__container {
        margin: 0 auto;
        text-align: center;
    }

    &__btns {
        margin-top: 100px;
    }

    &__hint {
        display: block;
        margin-top: 35px;
        color: rgba(240, 243, 246, 0.6);
        @include font-size(12);
    }

    &__count {
        position: fixed;
        bottom: 20px;
        left: 20px;
        color: rgba(240, 243, 246, 0.6);
        @include font-size(14);
    }

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}


